-# = render_options(report)

.row-fluid
  .span12
    - report.segmenter.families.each do |family|
      %h2= family.display_name
      - family.domestics.each do |domestic|
        %h3= domestic.display_name
        - domestic.groups.each do |group|
          %table
            %thead
              %tr
                %th{colspan: group.headers.count}
                  = group.display_name
              %tr
                - group.headers.each do |header|
                  %th= report.format_header(header)
            %tbody
              - group.rows.each do |row|
                %tr
                  - row.each do |value|
                    %td= value
            %tfoot
              %tr
                %th Count #{group.summary.count}
                %th
                %th= group.summary.average(:cuteness)
                %th= group.summary.sum(:gifs)
                %th
      %table
        %thead
          %tr
            %th Count
            %th
            %th Average
            %th Sum
            %th
        %tbody
          - family.domestics.each do |domestic|
            %tr
              %td= domestic.summary.count
              %td
              %td= domestic.summary.average(:cuteness)
              %td= domestic.summary.sum(:gifs)
              %td
        %tfoot
          %tr
            %th= family.summary.count
            %th
            %th= family.summary.average(:cuteness)
            %th= family.summary.sum(:gifs)
            %th

