-# TODO this should be working but ApplicationHelper 
-# doesn't get included into the view context either...
-# = render_options(report)

.row-fluid
  .span12
    - report.segmenter.families.each do |family|
      %h2= family.display_name
      - family.domestics.each do |domestic|
        %h3= domestic.display_name
        - domestic.groups.each do |group|
          %table
            %thead
              %tr
                %th{colspan: group.headers.count}
                  = group.display_name
              %tr
                - group.headers.each do |header|
                  %th= report.format_header(header)
            %tbody
              - group.rows.each do |row|
                %tr
                  - row.each do |value|
                    %td= value
            %tfoot
              %tr
                %th Count #{commafy_number group.summary.count}
                %th
                %th= commafy_number group.summary.average(:cuteness), 2
                %th= commafy_number group.summary.sum(:gifs)
                %th
                %th= number_to_dollars group.summary.average(:cost_new)
      %table
        %thead
          %tr
            %th Count
            %th
            %th Average
            %th Sum
            %th
        %tbody
          - family.domestics.each do |domestic|
            %tr
              %td= commafy_number domestic.summary.count
              %td
              %td= commafy_number domestic.summary.average(:cuteness), 2
              %td= commafy_number domestic.summary.sum(:gifs)
              %td
              %td= number_to_dollars domestic.summary.average(:cost_new)
        %tfoot
          %tr
            %th= commafy_number family.summary.count
            %th
            %th= commafy_number family.summary.average(:cuteness), 2
            %th= commafy_number family.summary.sum(:gifs)
            %th
            %th= number_to_dollars family.summary.average(:cost_new)
